
body {
    font-family: Arial, sans-serif;
    background-color: #292c38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.input-container {
    
    text-align: center;
    width: 300%;
    background-color: #c3b6b6;
    padding: 1em;
    width: 80;
    border-radius: 8px;
    margin-bottom: 2em;
    margin-right: 30em;
}

.until h1 {
    font-size: 46px;
    letter-spacing: 30px;
}

.until .detector {
    display: inline-block;
}

.until .car {
    color: #3d4245;
    letter-spacing: 20px;
}

.until .detector {
    color: #886e6b;
    letter-spacing: 12px;
}

.until p {
    margin-top: -30px;
    color: #666666;
    font-style: italic;
    margin-left:-2em;
}

.file-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -4em
}

.file-input {
    display: block;
    margin: auto 1em auto;  
    margin-left: 92px;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

.submit-button {
    padding: 0.5em 2em;
    border: none;
    background-color: #0c0d0e;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-bottom: 2em

}

.submit-button:hover {
    background-color: #0056b3;
}